
<section id="facilities" class="bg-light" data-aos="fade-left">
  <div class="container">
    <h1  id="servicesheader">Our Facilities.</h1>
    <hr>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our facilities</h2>
        <h3 class="section-subheading text-muted">Come visit us and see our modern facilities.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="assets/workarea.jpg" alt="workarea">
          <div class="card-body">
            <h4 class="card-title">Work Area</h4>
            <p>Our skilled technicians use state-of-the-art equipment and specialized tools to repair dents, scratches, and other damage to your vehicle's bodywork. We can also replace or refinish panels that have been severely damaged. Our team is committed to providing high-quality repairs and restoration to help your vehicle maintain its appearance, safety, and value over time.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="assets/frontshop.jpg" alt="frontshop">
          <div class="card-body">
            <h4 class="card-title">workshop</h4>
            <p class="card-text">Our workshop specializes in repairing and restoring the bodywork of cars and other vehicles.  We also offer services such as detailing and painting to help your vehicle look its best. Come see us for all your auto body needs! </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="assets/office.jpg" alt="ffice">
          <div class="card-body">
            <h4 class="card-title">quality work</h4>
            <p class="card-text">At our latoneria business, we take great pride in the quality of our work. We pay attention to every detail, ensuring that each repair is completed to the highest standard. We stand behind our work and offer a satisfaction guarantee on all of our services. We know that your vehicle is an important investment, and we are committed to helping you maintain its appearance, safety, and value over time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
